<!-- <app-header></app-header>
<hr>
<app-selector></app-selector>  -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-switch-img></app-switch-img> -->
<!-- <app-directives></app-directives> -->
<!-- <app-att-directives></app-att-directives> -->
<!-- <app-car-bike-assignment></app-car-bike-assignment> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-parent></app-parent> -->

<div class="container">
    <div class="card border-primary">
        <div class="card-header border-primary">
            <app-nav></app-nav>
        </div>

        <div class="card-body border-primary">
            <router-outlet></router-outlet>
        </div>

        <div class="card-footer border-primary">
        </div>
    </div>
</div>